ORACLE_PWD=<password for database sys, system>
ADMIN_PWD=<password for APEX instance Administrator>
MBG_PWD=<password for schema MBG>
ORACLE_HOST=<localhost or hostname of database server>
ORACLE_PORT=<database port number>
PDB_NAME=<pluggable database name>