name: apex

services:

  db:
    image: fransmzh/apexdb:12-ps10exec
    container_name: oracle-xe
    hostname: dbxe
    restart: unless-stopped
    # environment:
    env_file:
     - ./all.env
    volumes:
      # - oradata:/opt/oracle/oradata
      - ./tunnel:/opt/tunnel:rw
    ports:
      - "11521:1521"
    networks:
      - oranet

  oracle-ords:
    image: fransmzh/ords:1.2-ps10
    # build: ./ords
    container_name: ora-ords
    hostname: oracle-ords
    restart: unless-stopped
    environment:
      - ORACLE_HOST=dbxe
      - ORACLE_PORT=1521
      - ORACLE_SERVICE=XEPDB1
    env_file:
     - ./all.env
    volumes:
      # - ords-config:/opt/ords_config
      - ./tunnel:/opt/tunnel:rw
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - oranet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/ords"]
      interval: 15s
      timeout: 10s
      retries: 6
      start_period: 10s
    # command: bash -c "/opt/setup_ords.sh"

volumes:
  oradata:
    driver: local
  ords-config:
    driver: local

networks:
  oranet:
    driver: bridge
