name: apex

services:

  db:
    # image: fransmzh/apexdb:1.0-apex24210
    image: fransmzh/apexdb:1.2-apex24210
    build:
      context: ./dbxe
      dockerfile: 1.2-apex24210.Dockerfile
    container_name: ora-xe
    hostname: dbxe
    restart: unless-stopped
    # environment:
    env_file:
     - ./all.env
    volumes:
      - oradata:/opt/oracle/oradata
      # - ./tunnel:/opt/tunnel:rw                                                                                                                             
      - ./dbdump:/opt/oracle/dpdump
      # - ./dbxe/script_workspace:/opt/oracle/scripts/startup
    ports:
      - "11521:1521"
    networks:
      - oranet

  ords:
    # image: fransmzh/ords:1.2-ps10
    image: fransmzh/ords:1.3-app
    # build: ./ords
    container_name: ora-ords
    hostname: ora-ords
    restart: unless-stopped
    env_file:
     - ./all.env
    volumes:
      # - ords-config:/opt/ords_config
      - ./ords/script_startup:/opt/scripts/startup
      # - ./dumpfile:/opt/dumpfile
      - ../mbg:/opt/tunnel:rw
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - oranet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/ords"]
      interval: 10s
      timeout: 10s
      retries: 6
      start_period: 10s
    # command: bash -c "/opt/setup_ords.sh"

volumes:
  oradata:
    driver: local
  ords-config:
    driver: local

networks:
  oranet:
    driver: bridge
